.header {
  display: flex;
  flex-direction: row;
}

.find {
  width: 4em;
  height: 2em;
  font-size: 2rem;
}
.request-option-bar {
  display: flex;
  flex-direction: row;
}

.request-option {
  padding: 1em 1em;
  font-size: 1rem;
}

.sort-option-bar {
  display: flex;
  flex-direction: row;
}

.sort-option {
  padding: 1em 1em;
  font-size: 1rem;
}

#result-container {
  margin: 1em 1em;
}

.movie {
  margin-bottom: 1em;
}
